@charset "utf-8";
body {
    background-color: #8eb9fa;
    color: rgba(26, 34, 43, 0.959);
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin-left: 300px;
}

h2 {
    background-color: #8efafa;
    color: rgba(18, 42, 46, 0.959);
}

.suhoi {
    background-color: #fa8eec;
}

article * {
    color: blue;
}

a[href="../kadai1/1RussianArmedForces/1-1RussianGroundForces.html"] {
    color: rgb(96, 148, 44);
}

/* a[href="http://rybachii.blog84.fc2.com/"] { */

color: rgb(182, 21, 147);
}

/* a[href^="https://www"] { */

color: rgb(182, 21, 147);
}

/* a[href*=""] { */

color: rgb(182, 21, 147);
}

/* a[href4=".com"] { */

color: rgb(182, 21, 147);
}

/* article p:first-of-type { */

color: rgb(230, 66, 79);
}

p:hover {
    background-color: coral;
}